# Git Example

# Dictionaries

# dictionary work on key and value pair

In [3]:
my_dic ={}

In [4]:
type(my_dic)

dict

In [5]:
len(my_dic)

0

In [6]:
my_dic={'name':'sarfaraz'}

In [7]:
my_dic['name']

'sarfaraz'

In [8]:
my_dic[100] ='pak'

In [9]:
my_dic

{'name': 'sarfaraz', 100: 'pak'}

In [12]:
my_dic[100]

'pak'

In [13]:
del my_dic[100]

In [14]:
my_dic

{'name': 'sarfaraz'}

In [16]:
my_dic={'name': 'sarfaraz','age':23,'degree':'bs'}

In [17]:
#keys()
#values()
#items()

In [18]:
for k in my_dic.keys():
    print(k)

name
age
degree

In [19]:
for k in my_dic.values():
    print(k)

sarfaraz
23
bs

In [20]:
for k in my_dic.items():
    print(k)

('name', 'sarfaraz')
('age', 23)
('degree', 'bs')

In [24]:
for k,v in my_dic.items():
    print(k,v)

name sarfaraz
age 23
degree bs

SyntaxError: invalid syntax (<ipython-input-27-015f9d5fb769>, line 2)

In [28]:
my_dic

{'name': 'sarfaraz', 'age': 23, 'degree': 'bs'}

In [29]:
'name' in my_dic

True

In [33]:
#list in list
#tuple in list
#dictionary in list

#list in tuple
#tuple in tuple
#dictionary in tuple

#dictionary in dictionary
#list in dictionary
#tuple in dictionary

In [34]:
my_dic = {'name': 'sarfaraz', 'age': 23, 'degree': 'bs','name':'ali'}

In [35]:
my_dic

{'name': 'ali', 'age': 23, 'degree': 'bs'}

# list in list

In [38]:
a =[1,232,3,35]
b=[9,8,7,6]
c=[99,88,77,a,b]
c

[99, 88, 77, [1, 232, 3, 35], [9, 8, 7, 6]]

In [39]:
c[4][2]

7

In [48]:
a=1,2,3,4,5,6 #tuple in list
b=2 ,4 ,6 ,8 
c=[1,2,a,b]
c

[1, 2, (1, 2, 3, 4, 5, 6), (2, 4, 6, 8)]

In [43]:
c[2][5]

6

In [44]:
#list me item delete ho sakte han
#likin tuple me nae ho sakte

In [45]:
del c[2][5]

TypeError: 'tuple' object doesn't support item deletion

In [47]:
del c[2]
c

[1, 2, (2, 4, 6, 8)]

In [49]:
alist = [11,22,33,44,my_dic]
alist

[11, 22, 33, 44, {'name': 'ali', 'age': 23, 'degree': 'bs'}]

In [56]:
alist[4]['age']

23

In [58]:
for k in alist[4].values():
    print(k)

ali
23
bs

In [59]:
adictionary = {'name':'pakvsindia','age': my_dic}

In [60]:
adictionary

{'name': 'pakvsindia', 'age': {'name': 'ali', 'age': 23, 'degree': 'bs'}}

In [63]:
adictionary['age']['degree']

'bs'

In [65]:
emptylist=[]
emptylist.append({'name':'sarfaraz'})
emptylist

[{'name': 'sarfaraz'}]